:root {
  --main-color: rgb(252, 231, 227);
  --main-font: "Roboto Slab", serif;
}

.hero {
  background-color: var(--main-color);
  font-family: var(--main-font);
  text-align: center;
  padding: 10%;
}
.hero h1 {
  font-weight: 600;
}
img {
  border: 3px solid rgba(44, 35, 64);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
.card {
  background-color: var(--main-color);
  margin: 10px;
}
.btn {
  font-size: 18px;
  margin: 10px;
}
footer {
  background-color: var(--main-color);
}
a {
  color: black;
}
.about {
  background-color: var(--main-color);
  font-family: var(--main-font);
  text-align: center;
  padding: 10%;
}
.row {
  margin: 30px;
}
.aboutP {
  font-size: 20px;
  font-family: var(--main-font);
}

@media (max-width: 900px) {
  img {
    display: none;
  }
  h1 {
    font-size: 25px;
    text-align: center;
  }
  h2 {
    font-size: 18px;
    text-align: center;
  }
  a.btn.btn-dark.m-5.fs-5 {
    font-size: 10px;
  }
  .btn {
    font-size: 13px;
  }
  .aboutP {
    font-size: 15px;
  }
}
