:root {
  --main-color: rgb(252, 231, 227);
  --main-font: "Roboto Slab", serif;
}

.hero {
  background-color: var(--main-color);
  font-family: var(--main-font);
  text-align: center;
  margin: 10px;
  border-radius: 10px;
  padding: 10%;
}
.hero h1 {
  font-weight: 600;
}
img {
  border: 3px solid rgba(44, 35, 64);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
.card {
  background-color: var(--main-color);
  margin: 10px;
}
